<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title">Sidebar Filters</li>
            <li class="adjustments-line">
                <a
                    href="javascript:void(0)"
                    class="switch-trigger active-color"
                >
                    <div class="badge-colors ml-auto mr-auto">
                        <span
                            class="badge filter badge-purple"
                            data-color="purple"
                        ></span>
                        <span
                            class="badge filter badge-azure"
                            data-color="azure"
                        ></span>
                        <span
                            class="badge filter badge-green"
                            data-color="green"
                        ></span>
                        <span
                            class="badge filter badge-warning"
                            data-color="orange"
                        ></span>
                        <span
                            class="badge filter badge-danger"
                            data-color="danger"
                        ></span>
                        <span
                            class="badge filter badge-rose active"
                            data-color="rose"
                        ></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Images</li>
            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="/static/assets/img/sidebar-1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="/static/assets/img/sidebar-2.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="/static/assets/img/sidebar-3.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="/static/assets/img/sidebar-4.jpg" alt="" />
                </a>
            </li>
            <li class="button-container">
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://www.creative-tim.com/product/material-dashboard-django"
                    class="btn btn-default btn-block"
                >
                    See Product
                </a>
            </li>
            <li class="button-container">
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://github.com/creativetimofficial/material-dashboard-django"
                    class="btn btn-primary btn-block"
                >
                    Get Sources
                </a>
            </li>
        </ul>
    </div>
</div>
