<footer class="footer">
    <div class="container-fluid">
        {% comment %}
        <nav class="float-left">
            <ul>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.creative-tim.com/product/material-dashboard-django">
                        Material Dashboard Django
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" href="https://www.creative-tim.com/">Creative Tim</a> - coded by
            <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">AppSeed</a>
        </div>
        {% endcomment %}
    </div>
</footer>
