<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
        {% comment %}
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="{{ request.META.HTTP_REFERER}}">Back</a>
        </div>
        {% endcomment %}
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            aria-controls="navigation-index"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse justify-content-end">

            <ul class="navbar-nav">
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'simulations' %}">
                        <i class="material-icons">dashboard</i>
                        <p class="d-lg-none d-md-block">Stats</p>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link"
                        href="javascript:void(0)"
                        id="navbarDropdownProfile"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <i class="material-icons">person</i>
                        <p class="d-lg-none d-md-block">Account</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="/page-user.html">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                    </div>
                </li> {% endcomment %}
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
