<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
    <div class="logo">
        <a href="/simulations" class="simple-text logo-normal"> Simulations </a>
    </div>
    {% if user.is_authenticated %}
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item {% if request.path == '/simulations' %} active {% endif %}">
                <a class="nav-link" href="/simulations">
                    <i class="material-icons">dashboard</i>
                    <p>Simulations</p>
                </a>
            </li>
            <li class="nav-item {% if request.path == '/simulations/new' %} active {% endif %}">
                <a class="nav-link" href="/simulations/new">
                    <i class="material-icons">play_circle_filled</i>
                    <p>New Simulation</p>
                </a>
            </li>
            <li class="nav-item {% if request.path == '/models' %} active {% endif %}">
                <a class="nav-link" href="/models">
                    <i class="material-icons">insights</i>
                    <p>Models</p>
                </a>
            </li>
            {% comment %}
            <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
                <a class="nav-link" href="/page-user.html">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
                <a class="nav-link" href="/ui-tables.html">
                    <i class="material-icons">content_paste</i>
                    <p>Table List</p>
                </a>
            </li>
            <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
                <a class="nav-link" href="/ui-typography.html">
                    <i class="material-icons">library_books</i>
                    <p>Typography</p>
                </a>
            </li>
            <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
                <a class="nav-link" href="/ui-icons.html">
                    <i class="material-icons">bubble_chart</i>
                    <p>Icons</p>
                </a>
            </li>
            <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
                <a class="nav-link" href="/ui-maps.html">
                    <i class="material-icons">location_ons</i>
                    <p>Maps</p>
                </a>
            </li>
            <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
                <a class="nav-link" href="/ui-notifications.html">
                    <i class="material-icons">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/page-rtl-support.html">
                    <i class="material-icons">language</i>
                    <p>RTL Support</p>
                </a>
            </li>
            {% endcomment %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="material-icons">directions_run</i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
    {% endif %}
</div>
