<div class="row">
    <div class="col-12 col-lg-2">
        <div class="form-group">
            <label for="defects">Number of defects</label>
            <select class="form-control" name="defects" id="defects">
                <option value=0 >0</option>
                <option value=1 >1</option>
                <option value=2 >2</option>
                <option value=3 >3</option>
            </select>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 col-lg-6">
        <div class="row">
        {% comment %} {% for widget in widget.subwidgets %}
            <div class="form-group col-6 mb-3">
                <label for="{{ widget.name }}" style="position: unset">{{ widget.attrs.name }}</label>
                <input type="number" class="form-control" name="{{ widget.name }}" id="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
            </div>
        {% endfor %} {% endcomment %}
            <div class="form-group col-6 mb-3">
                <label for="x" style="position: unset">X</label>
                <input type="number" class="form-control" name="x" id="x" min="0" max="100" step="1">
            </div>

            <div class="form-group col-6 mb-3">
                <label for="y" style="position: unset">Y</label>
                <input type="number" class="form-control" name="y" id="y" min="0" max="100" step="1">
            </div>

            <div class="form-group col-6 mb-3">
                <label for="width" style="position: unset">Width</label>
                <input type="number" class="form-control" name="width" id="width" min="1" max="100" step="1">
            </div>

            <div class="form-group col-6 mb-3">
                <label for="height" style="position: unset">Height</label>
                <input type="number" class="form-control" name="height" id="height" min="1" max="100" step="1">
            </div>

            <div class="form-group col-6 mb-3">
                <label for="permeability" style="position: unset">Permeability</label>
                <input type="number" class="form-control" name="permeability" id="permeability" min="0" max="1" step="0.01">
            </div>

            {% include "django/forms/widgets/input.html" %}
        </div>
    </div>

    <div class="col-12 col-lg-6 d-flex justify-content-center mt-4 mt-lg-0">
        <div id="square" class="square">
        </div>
    </div>
</div>



