
<input id="{{ widget.attrs.id }}" type="file" multiple if="file" class="inputFileHidden">
<div class="input-group">
    <input type="text" class="form-control inputFileVisible" placeholder="{{ widget.attrs.placeholder }}" multiple>
    <span class="input-group-btn">
        <button type="button" class="btn btn-fab btn-round btn-info">
            <i class="material-icons">layers</i>
        </button>
    </span>
</div>

