// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    display: inline-block;
    white-space: normal;

    @include badge-color();
}
