{% extends "layouts/base.html" %}

{% load markdown %}

{% block title %} Model - {{ model.name }}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-header  card-header-success">
                <h4 class="card-title">Model</h4>
                {% comment %} <p class="card-category"> - Last update: {{ model.updated_at | date }}</p> {% endcomment %}
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div><b>ID: </b> {{ model.pk }}</div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div><b>Name: </b> {{ model.name }}</div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div><b>Image: </b> {{ model.image }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div><b>Last update: </b> {{ model.updated_at | date }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Description</h4>
                {% comment %}
                <p class="card-category">Here is a subtitle for this table</p>
                {% endcomment %}
            </div>
            <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        {{ model.description | markdown }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
