{% extends "layouts/base.html" %} {% block title %} Models {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Models</h4>
                {% comment %}
                <p class="card-category">Here is a subtitle for this table</p>
                {% endcomment %}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-center">ID</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th class="text-right">Actions</th>
                        </thead>
                        <tbody>
                            {% for model in models_list %}
                            <tr>
                                <td class="text-center"><a href="{{ model.get_absolute_url }}">{{ model.pk }}</a></td>
                                <td><a href="{{ model.get_absolute_url }}">{{ model.name }}</a></td>
                                <td>{{ model.image }}</td>
                                <td class="td-actions text-right">
                                    <a rel="tooltip" class="btn btn-info btn-simple"  href="{{ model.get_absolute_url }}">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
