{% extends "layouts/base.html" %} {% block title %} New Simulation {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-text card-header-default">
                <div class="card-text">
                    <h4 class="card-title">New Simulations</h4>
                </div>
                {% comment %}
                <p class="card-category">Here is a subtitle for this table</p>
                {% endcomment %}
            </div>
            <div class="card-body">
                <form role="form" method="post" action="" enctype='multipart/form-data'>
                    {% csrf_token %}

                   <div class="container-fluid">


                        <div class="row my-4">
                            <div class="form-group col-12 col-lg-6">
                                <label for="id_model">{{ form.model.label }}</label>
                                {{ form.model }}
                            </div>
                        </div>

                        {{ form.parameters }}

                    </div>

                    {% comment %} <div class="form-group form-file-upload form-file-multiple">
                        <label for="id_files">Files</label>
                        {{ form.files }}
                    </div> {% endcomment %}

                    <div class="form-group">
                        <a href="{% url 'simulations' %}" class="btn btn-danger">Cancel</a>
                        <button type="submit" class="btn btn-success">Run</button>
                    </div>
                </form>
                <pre>{{ form.errors }}</pre>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ form.media }}
{% endblock javascripts %}
