{% extends "layouts/base.html" %}

{% block title %} Output - {{ output.pk }}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    <a href="{% url 'simulation' output.simulation.pk %}">
                        <i class="material-icons">arrow_back</i>
                    </a>
                    Outputs
                    <a
                        href="{{ output.result.url }}"
                        download
                        rel="tooltip"
                        class="btn btn-success btn-sm btn-just-icon"
                        data-placement="bottom"
                        title="Dowload"
                    >
                        <i class="material-icons">download</i>
                    </a>
                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>Type</th>
                            <th>Name</th>
                            <th class="text-right">Size</th>
                            <th class="text-right">Options</th>
                        </thead>
                        <tbody>
                        {% for file in files %}
                            <tr>
                                <td >
                                {% if file.isdir %}
                                    <span class="badge badge-secondary"> Directory</span>
                                {% elif file.isfile %}
                                    <span class="badge badge-success"> File</span>
                                {% endif %}
                                </td>
                                <td>{{ file.name }}</td>
                                <td class="text-right">{{ file.size | filesizeformat }}</td>
                                <td class="td-actions text-right">
                                    {% if file.isfile %}
                                    <a
                                        href="{% url 'output-file' output.simulation output.pk file.name %}"
                                        class="btn btn-info btn-sm btn-just-icon"
                                    >
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
