{% extends "layouts/base.html" %}

{% load b64encode csv_to_html %}

{% block title %} Output - {{ name }}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    <a href="{% url 'output' output.simulation.pk output.pk %}">
                        <i class="material-icons">arrow_back</i>
                    </a>
                    Output - {{ name }}
                </h4>
                {% comment %}
                <p class="card-category">Here is a subtitle for this table</p>
                {% endcomment %}
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col justify-content-center">
                            {% if type == 'image' %}
                                <img src="data:{{ mime }};base64,{{ file | b64encode }}" width="100%" height="auto">
                            {% elif type == 'video' %}
                                <video autoplay controls src="data:{{ mime }};base64,{{ file | b64encode}}" width="100%" height="auto">
                                    The "video" tag is not supported by your browser. Click [here] to download the video file.
                                </video>
                            {% elif type == 'audio' %}
                                <audio controls src="data:{{ mime }};base64,{{ file | b64encode}}" />
                            {% elif type == 'text' %}
                                {% if mime == 'text/csv' %}
                                    <div class="table-responsive">
                                        {{ file | csv_to_html }}
                                    <div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
