{% extends "layouts/base.html" %}

{% block title %} Simulations {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Simulations</h4>
                {% comment %}
                <p class="card-category">Here is a subtitle for this table</p>
                {% endcomment %}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-center">ID</th>
                            <th>Model</th>
                            <th>State</th>
                            <th>Created at</th>
                            <th class="text-right">Actions</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <a
                                        href="{% url 'new-simulation' %}"
                                        class="btn btn-outline-default btn-just-icon btn-sm"
                                        rel="tooltip"
                                        data-placement="right"
                                        title="New Simulation"
                                    >
                                        <i class="material-icons">add</i>
                                    </a>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% for simulation in simulations_list %}
                            <tr>
                                <td class="text-center"><a href="{{ simulation.get_absolute_url }}">{{ simulation.pk }}</a></td>
                                <td><a href="{{ simulation.model.get_absolute_url }}">{{ simulation.model }}</a></td>
                                <td>
                                    {% if simulation.state == 0 %}
                                    <span class="badge badge-warning">
                                    {% elif simulation.state == 1 %}
                                    <span class="badge badge-info">
                                    {% elif simulation.state == 2 %}
                                    <span class="badge badge-success">
                                    {% elif simulation.state == 3 %}
                                    <span class="badge badge-danger">
                                    {%endif %}
                                        {{ simulation.get_state_display }}
                                    </span>
                                </td>
                                <td>{{ simulation.created_at }}</td>
                                <td class="td-actions text-right">
                                    <a rel="tooltip" class="btn btn-info btn-simple" href="{{ simulation.get_absolute_url }}">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a rel="tooltip" class="btn btn-danger btn-simple" href="{% url 'delete-simulation' simulation.pk %}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
