{% extends "layouts/base.html" %}

{% block title %} Simulation - {{ simulation.pk }}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col col-md-4">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">
                        <a href="{% url 'simulations' %}">
                            <i class="material-icons">arrow_back</i>
                        </a>
                        Simulation
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col"><b>ID:</b> {{ simulation.pk }}</div>
                        <div class="col">
                            {% if simulation.state == 0 %}
                            <span class="pull-right badge badge-warning">
                            {% elif simulation.state == 1 %}
                            <span class="pull-right badge badge-info">
                            {% elif simulation.state == 2 %}
                            <span class="pull-right badge badge-success">
                            {% elif simulation.state == 3 %}
                            <span class="pull-right badge badge-danger">
                            {%endif %}
                                {{ simulation.get_state_display }}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>Model:</b>
                            <a href="{{ simulation.model.get_absolute_url }}">
                                {{ simulation.model }}
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>Parameters:</b>
                            {{ simulation.parameters }}
                            <a href="{{ simulation.parameters.url }}" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" download>
                                <i class="material-icons">download</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Outputs</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-center">ID</th>
                            <th>Output</th>
                            <th>Log</th>
                            <th>Created at</th>
                        </thead>
                        <tbody>
                            {% for output in simulation.outputs.all %}
                            <tr>
                                <td class="text-center">
                                    <a href="{% url 'output' simulation.pk output.pk %}">
                                        {{ output.pk }}
                                    </a>
                                </td>
                                <td class="td-actions" >
                                    {% if output.result %}
                                    <a href="{% url 'output' simulation.pk output.pk %}" class="btn btn-info btn-simple">Result </a>
                                    <a href="{{ output.result.url }}" rel="tooltip" class="btn btn-success btn-simple" download>
                                        <i class="material-icons">download</i>
                                    </a>
                                    {% else %}
                                    <button href="" class="btn btn-other btn-simple" disabled>Result </button>
                                    {% endif %}
                                </td>
                                <td class="td-actions">
                                    <a href="{% url 'output-log' simulation.pk output.pk %}" class="btn btn-info btn-simple">Logs</a>
                                    <a href="{{ output.log.url }}" rel="tooltip" class="btn btn-success btn-simple" download>
                                        <i class="material-icons">download</i>
                                    </a>
                                </td>
                                <td>{{ output.created_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
